<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
     <category label="32100" id="section_general">
	  <setting label="32101" type="folder" id="destinationFolder" default="" source="auto" />
	  <setting label="32102" type="text" id="dbTextures" default="13" />
	  <setting label="32103" type="text" id="extraPattern" default="extra|logo.png|cdart.png" />
	  <setting label="32104" type="lsep" />
	  <setting label="32121" type="bool" id="checkSkip" default="false" />
	  <setting label="32122" type="enum" id="selectDeleteMove" lvalues="32123|32124|32125" default="0" />
	  <setting label="32105" type="bool" id="checkMovies" default="false" />
	  <setting label="32106" type="bool" id="checkSets" default="false" />
	  <setting label="32107" type="bool" id="checkTVShows" default="false" />
	  <setting label="32108" type="bool" enable="eq(-1,false)" id="checkSeasons" default="false" />
	  <setting label="32109" type="bool" enable="eq(-2,false)" id="checkEpisodes" default="false" />
	  <setting label="32110" type="bool" id="checkMusicVideos" default="false" />
	  <setting label="32111" type="bool" id="checkVideoGenres" default="false" />
	  <setting label="32112" type="bool" id="checkMusicArtists" default="false" />
	  <setting label="32113" type="bool" id="checkMusicAlbums" default="false" />
	  <setting label="32114" type="bool" id="checkMusicSongs" default="false" />
	  <setting label="32115" type="bool" id="checkMusicGenres" default="false" />
	  <setting label="32116" type="bool" id="checkActors" default="false" />
	  <setting label="32117" type="bool" id="checkAddons" default="false" />
     </category>
     <category label="32150" id="section_credits">
	  <setting label="32151" type="lsep" />
	  <setting label="32152" type="lsep" />
	  <setting type="sep" />
	  <setting label="32153" type="lsep" />
	  <setting label="32154" type="lsep" />
	  <setting label="32155" type="lsep" />
     </category>
</settings>