<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32050">
		<setting label="32093" type="text" id="url_address" default="https://yts.ag"/>
		<setting label="32057" type="lsep"/>
		<setting label="32058" type="slider" id="time_noti" default="1500" range="0,125,2000" option="int" />
		<setting label="32062" type="lsep"/>
		<setting label="720p" type="labelenum" id="movie_qua3" values="Accept File|Block File|Filter Off" default="Accept File"/>
		<setting label="1080p" type="labelenum" id="movie_qua4" values="Accept File|Block File|Filter Off" default="Accept File"/>
		<setting label="3D" type="labelenum" id="movie_qua5" values="Accept File|Block File|Filter Off" default="Block File"/>
		<setting label="32207" type="lsep"/>
		<setting label="32210" type="slider" id="movie_min_size" default="0" range="0,0.25,10" option="float" />
		<setting label="32211" type="slider" id="movie_max_size" default="10" range="0,0.25,10" option="float" />
	</category>
</settings>
