<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="32010">
		<setting label="32011" type="lsep"/>
        <setting label="32023" type="action" visible="!eq(17,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/resetVPN.py, reset)"/>
        <setting label="" type="text" id="vpn_provider_validated" visible="false" enable="false" default=""/>
		<setting label="32012" type="labelenum" id="vpn_provider" enable="eq(15,)" lvalues="32201|32202|32203|32204|32205|32206|32207|32208|32209|32211"/>
        <setting label=""      type='lsep'/>
        <setting label="32052" type="text" id="vpn_username_validated" visible="false" enable="false" default=""/>
		<setting label="32021" type="text" id="vpn_username" enable="eq(12,)" default=""/>
        <setting label="32053" type="text" id="vpn_password_validated" visible="false" enable="false" default=""/>
		<setting label="32022" type="text" id="vpn_password" enable="eq(10,)" option="hidden"  default=""/>   
        <setting label=""      type='lsep'/>
        <setting label="32082" type="labelenum" id="vpn_protocol" enable="eq(8,)" lvalues="32083|32084|32085"/>        
        <setting label="32086" type="bool" id="default_udp" enable="eq(7,)" default="true"/>
        <setting label="32087" type="number" id="alternative_udp_port" enable="eq(6,)" visible="!eq(-1,true)" default="1194"/>
        <setting label="32088" type="bool" id="default_tcp" enable="eq(5,)" default="true"/>
        <setting label="32087" type="number" id="alternative_tcp_port" enable="eq(4,)" visible="!eq(-1,true)" default="443"/>        
        <setting label=""      type='lsep'/>
		<setting label="32024" type='lsep'/>
        <setting label="32025" type="action" enable="!eq(-9,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 1)"/>
        <setting label=""      type="text" id="1_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32026" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 2)"/>
        <setting label=""      type="text" id="2_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32027" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 3)"/>
        <setting label=""      type="text" id="3_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32028" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 4)"/>
        <setting label=""      type="text" id="4_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
        <setting label="32029" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/connect.py, 5)"/>
        <setting label=""      type="text" id="5_vpn_validated_friendly" visible="!eq(0,)" enable="false" default=""/>
    </category>
	<category label="32030">        
        <setting label="32031" type="lsep"/>	
		<setting label="32032" type="bool" id="vpn_connect_at_boot" default="true"/>
		<setting label="32033" type="bool" id="vpn_reconnect" default="true"/>
        <setting label="32034" type="bool" id="vpn_addon_filtering" default="true"/>
		<setting label="32035" type="bool" id="vpn_reconnect_filtering" default="true"/>
        <setting label="32036" type="bool" id="allow_cycle_disconnect" default="false"/>
        <setting label=""      type="lsep"/>  
        <setting label="32037" type="lsep"/>      
        <setting label="32038" type="action" option="close" action="RunScript(special://home/addons/service.vpn.manager/recycle.py, 1)"/>
    </category>
    <category label="32040">		
        <setting label="32041" type="lsep"/>        
		<setting label="32042" type="addon" id="vpn_excluded_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32043" type="lsep"/>
		<setting label="32044" type="addon" id="1_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32045" type="addon" id="2_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32046" type="addon" id="3_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32047" type="addon" id="4_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32048" type="addon" id="5_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32049" type="lsep"/>
    </category>
        <category label="32050">		
        <setting label="32051" type="lsep"/>        
        <setting label="32052" type="file" id="speed_test_source" default=""/>
        <setting label="32053" type="action" enable="!eq(-1,)" option="close" action="RunScript(special://home/addons/service.vpn.manager/speedtest.py)"/> 
        <setting label=""      type="lsep"/>
        <setting label="32055" type="slider" id="vpn_reboot_frequency"  range="0,1,30" option="int" visible="false"  default="0"/>
        <setting label="32056" type="time" id="vpn_reboot_time" visible="false" default="02:00"/>   
        <setting label="32057" type="lsep"/>        
        <setting label="32058" type="action" option="close" action="RunScript(special://home/addons/service.vpn.manager/profileupdate.py)"/>
        <setting label="32061" type="text" id="vpn_provider_validated" enable="false" visible="false" default=""/>
        <setting label="32062" type="text" id="vpn_username_validated" enable="false" visible="false" default=""/>
        <setting label="32063" type="text" id="vpn_password_validated" enable="false" visible="false" default=""/>
        <setting label="32064" type="text" id="1_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="1_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label="32065" type="text" id="2_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="2_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label="32066" type="text" id="3_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="3_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label="32067" type="text" id="4_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="4_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label="32068" type="text" id="5_vpn_validated" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="5_vpn_validated_friendly" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="vpn_locations_list" enable="false" visible="false" default=""/>
        <setting label=""      type="text" id="version_number" enable="false" visible="false"/>
        <setting label=""      type="bool" id="vpn_wizard_run" enable="false" visible="false" default="false"/>
        <setting label=""      type="bool" id="checked_openvpn" enable="false" visible="false" default="false"/>
        <setting label=""      type="bool" id="vpn_command_use_sudo" enable="false" visible="false" default="false"/>
    </category>
</settings>
