<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="player_type" type="enum" values="Auto|MPlayer|DVDPlayer" label="30000" default="2"/>
        <setting id="player_mode" type="enum" values="Direct|SetResolvedUrl|Built-In|Download and Play" label="30044" default="0"/>
        <setting id="default_action" type="enum" lvalues="30006|30007|30008|30009" label="30005" default="0"/>
        <setting id="thumbnail_type" type="enum" lvalues="30011|30012|30200" label="30010" default="2"/>
        <setting id="channel_language" type="labelenum" values="all|es|en|it" label="30019" default="all"/>
        <setting id="forceview" type="bool" label="30043" default="false"/>
        <setting id="debug" type="bool" label="30003" default="false"/>
        
        <setting type="sep"/>
        <setting label="Channels for adults" type="lsep"/>
        <setting id="adult_aux_intro_password" type="text" label="Password (default 0000):" option="hidden"  default=""/>
        <setting id="adult_mode" type="enum" values="Nunca|Siempre|Solo hasta que se reinicie Kodi" label="30002" enable="!eq(-1,)" default="0"/>
        <setting id="adult_request_password" type="bool" label="Request password to open adult channels"  enable="!eq(-1,0)+!eq(-2,)" default="true"/>
        <setting id="adult_aux_new_password1" type="text" label="New Password:" option="hidden" enable="!eq(-3,)" default=""/>
        <setting id="adult_aux_new_password2" type="text" label="Confirm new password:" option="hidden" enable="!eq(-1,)" default=""/>


        <setting type="sep"/>
        <setting label="Updates" type="lsep"/>
        <setting id="plugin_updates_available" type="number" label="Number of updates available" default="0" visible="false"/>
        <setting id="check_for_plugin_updates" type="bool" label="30001" default="true"/>
        <setting id="check_for_channel_updates" type="bool" label="30004" default="true"/>
    </category>

    

    <category label="30501">
        <setting id="path_selection" type="enum" values="Escribir ruta|Examinar ruta" default="0" label="Tipo de ruta"/>
        <setting id="downloadpath" type="text" label="30017" default="" visible="eq(-1,0)"/>
        <setting id="downloadpath" type="folder" label="30017" default="" visible="eq(-2,1)"/>
        <setting id="downloadlistpath" type="text" label="30018" default="" visible="eq(-3,0)"/>
        <setting id="downloadlistpath" type="folder" label="30018" default="" visible="eq(-4,1)"/>
        <setting id="librarypath" type="text" label="30067" default="" visible="eq(-5,0)"/>
        <setting id="librarypath" type="folder" label="30067" default="" visible="eq(-6,1)"/>

        
    </category>

    
</settings>
