<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Overclocking">
        <setting label="Preset" type="labelenum" id="overclock_preset" values="Disabled|Crazy|X265 Hevc|Turbo|Modest" default="Disabled"/>
        
        <setting label="[COLOR red]ARM frequency (arm_freq) = [/COLOR][COLOR white]950[/COLOR]" type="lsep" visible="eq(-1,4)" subsetting="true"/>
        <setting label="[COLOR red]ARM frequency (arm_freq) = [/COLOR][COLOR white]1000[/COLOR]" type="lsep" visible="eq(-2,3)" subsetting="true"/>
        <setting label="[COLOR red]ARM frequency (arm_freq) = [/COLOR][COLOR white]1064[/COLOR]" type="lsep" visible="eq(-3,2)" subsetting="true"/>
        <setting label="[COLOR red]ARM frequency (arm_freq) = [/COLOR][COLOR white]1062[/COLOR]" type="lsep" visible="eq(-4,1)" subsetting="true"/>
        
        <setting label="[COLOR green]Core frequency (core_freq) = [/COLOR][COLOR white]300[/COLOR]" type="lsep" visible="eq(-5,4)" subsetting="true"/>
        <setting label="[COLOR green]Core frequency (core_freq) = [/COLOR][COLOR white]500[/COLOR]" type="lsep" visible="eq(-6,3)" subsetting="true"/>
        <setting label="[COLOR green]Core frequency (core_freq) = [/COLOR][COLOR white]560[/COLOR]" type="lsep" visible="eq(-7,2)" subsetting="true"/>
        <setting label="[COLOR green]Core frequency (core_freq) = [/COLOR][COLOR white]590[/COLOR]" type="lsep" visible="eq(-8,1)" subsetting="true"/>
        
        <setting label="[COLOR yellow]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]450[/COLOR]" type="lsep" visible="eq(-9,4)" subsetting="true"/>
        <setting label="[COLOR yellow]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]450[/COLOR]" type="lsep" visible="eq(-10,3)" subsetting="true"/>
        <setting label="[COLOR yellow]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]450[/COLOR]" type="lsep" visible="eq(-11,2)" subsetting="true"/>
        <setting label="[COLOR yellow]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]450[/COLOR]" type="lsep" visible="eq(-12,1)" subsetting="true"/>
        
        <setting label="[COLOR blue]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]2[/COLOR]" type="lsep" visible="eq(-13,4)" subsetting="true"/>
        <setting label="[COLOR blue]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]4[/COLOR]" type="lsep" visible="eq(-14,3)" subsetting="true"/>
        <setting label="[COLOR blue]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]4[/COLOR]" type="lsep" visible="eq(-15,2)" subsetting="true"/>
        <setting label="[COLOR blue]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]4[/COLOR]" type="lsep" visible="eq(-16,1)" subsetting="true"/>  		
        
		<setting label="[COLOR deeppink]V3d_freq adjustment (v3d_freq) = [/COLOR][COLOR white]250[/COLOR]" type="lsep" visible="eq(-17,4)" subsetting="true"/>
        <setting label="[COLOR deeppink]V3d_freq adjustment (v3d_freq) = [/COLOR][COLOR white]250[/COLOR]" type="lsep" visible="eq(-18,3)" subsetting="true"/> 
        <setting label="[COLOR deeppink]V3d_freq adjustment (v3d_freq) = [/COLOR][COLOR white]350[/COLOR]" type="lsep" visible="eq(-19,2)" subsetting="true"/> 
        <setting label="[COLOR deeppink]V3d_freq adjustment (v3d_freq) = [/COLOR][COLOR white]350[/COLOR]" type="lsep" visible="eq(-20,1)" subsetting="true"/>
		
		<setting label="[COLOR orange]H264_freq adjustment (h264_freq) = [/COLOR][COLOR white]250[/COLOR]" type="lsep" visible="eq(-21,4)" subsetting="true"/>
        <setting label="[COLOR orange]H264_freq adjustment (h264_freq) = [/COLOR][COLOR white]250[/COLOR]" type="lsep" visible="eq(-22,3)" subsetting="true"/> 
        <setting label="[COLOR orange]H264_freq adjustment (h264_freq) = [/COLOR][COLOR white]400[/COLOR]" type="lsep" visible="eq(-23,2)" subsetting="true"/> 
        <setting label="[COLOR orange]H264_freq adjustment (h264_freq) = [/COLOR][COLOR white]350[/COLOR]" type="lsep" visible="eq(-24,1)" subsetting="true"/>
        
		<setting label="Disable camera GPU clock" type="bool" id="isp_freq"/>
        <setting label="Disable dynamic overclock (force_turbo)" type="bool" id="force_turbo"/>
		<setting label="SD Card overclock" type="slider" id="dtoverlay=sdhost,overclock_50" range="50,13,84" default="50" option="int"/>
        
    </category>
    <category label="HDMI">
        <setting label="Force HDMI (hdmi_force_hotplug)" type="bool" id="hdmi_force_hotplug"/>
        <setting label="Colour space/range (hdmi_pixel_encoding)" type="enum" id="hdmi_pixel_encoding" values="default|RGB limited|RGB full|YCbCr limited|YCbCr full" default="0"/>
        <setting label="Boost HDMI signal (config_hdmi_boost)" type="slider" id="config_hdmi_boost" range="0,1,7" default="0" option="int"/>
        <setting label="Disable CEC (hdmi_ignore_cec)" type="bool" id="hdmi_ignore_cec"/>
        <setting label="Disable CEC initial active source (hdmi_ignore_cec_init)" type="bool" id="hdmi_ignore_cec_init"/>
    </category>
    <category label="Video">
        <setting label="Overscan" type="lsep"/>
        <setting label="Disable (disable_overscan)" type="bool" id="disable_overscan"/>
    </category>
    <category label="Misc">
        <setting label="Board revision" type="number" id="revision" default="0" visible="false"/>
        <setting label="Board type" type="number" id="type" default="0" visible="false"/>
        <setting label="RAM size" type="number" id="max_ram" default="512" visible="false"/>
        
        <setting label="Memory" type="lsep"/>
        <setting label="Pi2 GPU memory in MB (gpu_mem_1024)" type="slider" id="gpu_mem_1024" default="256" range="256,2,280" option="int" visible="eq(-2,1024)"/>
        <setting label="GPU memory in MB (gpu_mem_512)" type="slider" id="gpu_mem_512" default="64" range="16,16,448" option="int" visible="eq(-3,512)"/>
        <setting label="GPU memory in MB (gpu_mem_256)" type="slider" id="gpu_mem_256" default="64" range="16,8,192" option="int" visible="eq(-4,256)"/>
        
        
        <setting label="License keys" type="lsep"/>
        <setting label="MPEG-2 (decode_MPG2)" type="text" id="decode_MPG2"/>
        <setting label="VC-1 (decode_WVC1)" type="text" id="decode_WVC1"/>
        
        <setting label="Other" type="lsep"/>
        <setting label="Disable rainbow boot splash (disable_splash)" type="bool" id="disable_splash"/>
        <setting label="Output the maximum 1.2A to USB ports (external 2.5'' HDD)" type="bool" id="max_usb_current"/>
    </category>
</settings>
