#########################
# Different Sites Veetle and ACE in allsport.cfg
#########################
skill=videoTitle
catcher=streams
#############

#############
#############
title=BVLS/SEBN 1
icon=
url=http://sebn.sc/sebn-1.php
#############
title=BVLS/SEBN 2
icon=
url=http://sebn.sc/sebn-2.php
#############
title=BVLS/SEBN 3
icon=
url=http://sebn.sc/sebn-3.php
#############
title=BVLS/SEBN 4
icon=
url=http://sebn.sc/sebn-4.php
#############
title=BVLS/SEBN 5
icon=
url=http://sebn.sc/sebn-5.php
#############
title=BVLS/SEBN 6
icon=
url=http://sebn.sc/sebn-6.php
#############
title=BVLS/SEBN 7
icon=
url=http://sebn.sc/sebn-7.php
#############
title=BVLS/SEBN 8
icon=
url=http://sebn.sc/sebn-8.php
#############
title=BVLS/SEBN 9
icon=
url=http://sebn.sc/sebn-9.php
#############
title=BVLS/SEBN 10
icon=
url=http://sebn.sc/sebn-10.php
#############
title=BVLS/SEBN 11
icon=
url=http://sebn.sc/sebn-11.php
#############
title=BVLS/SEBN 12
icon=
url=http://sebn.sc/sebn-12.php



title= (ACE)
icon=
url=acestream://

############
title=PAC Washington
icon=
url=http://pac12hd2-lh.akamaihd.net/i/p12ariz_delivery@132836/master.m3u8
############
title=PAC Arizona
icon=
url=http://pac12hd2-lh.akamaihd.net/i/p12wash_delivery@132841/master.m3u8
############

############
title=
icon=
url=
############
title=
icon=
url=
############
title=
icon=
url=
############
title=
icon=
url=


############
title=
icon=
url=




############
title=Boulevard
icon=
url=http://www.scheveningenlive.nl/boulevard-webcam/
############
title=Pier
icon=
url=http://www.scheveningenlive.nl/pier-webcam/
############
title=Surf
icon=
url=http://www.scheveningenlive.nl/surf-webcam/
############
title=Strand
icon=
url=http://www.scheveningenlive.nl/strand-webcam/
############
title=Kitesurf
icon=
url=http://www.scheveningenlive.nl/kitesurf-webcam/
############
title=Beach
icon=
url=http://www.scheveningenlive.nl/evenementen-webcam/
############
title=Sportstrand
icon=
url=http://www.scheveningenlive.nl/sportstrand-webcam/
############
title=Havenhoofd Zuid
icon=
url=http://www.scheveningenlive.nl/zuidelijk-havenhoofd-webcam/
############
title=Havenhoofd Noord
icon=
url=http://www.scheveningenlive.nl/noordelijk-havenhoofd-webcam/
############
title=Hoek van Holland
icon=
url=http://hdtv.webcam.nl/hoekvanholland/
############
title=Velsen YT
icon=
url=https://webcam.nl/alohabeach/
############
title=Velsen Alohabeach
icon=
url=https://www.youtube.com/watch?v=fDxkdxX0B3I
############
title=Castricum Deining
icon=
url=http://hdtv.webcam.nl/deining/
############
title=Sportatsea
icon=
url=http://hdtv.webcam.nl/sportsatsea/
############
title=Florida Chesapeake Beach
icon=
url=https://www.skylinewebcams.com/en/webcam/united-states/florida/islamorada/chesapeake-beach-resort.html

############
title=
icon=
url=
############
############
title=
icon=
url=
############
title=
icon=
url=
############
title=
icon=
url=
############
title=
icon=
url=

